/*--------------------------------------------------------------
# Block Editor Styles
--------------------------------------------------------------*/

/*------------------------------------------
# Common Style
------------------------------------------*/

body {
	background: var(--color-bg);
}

.editor-post-title__block {
	position: relative;
}

.editor-post-title__block::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 1000px;
	box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
	content: "";
}

.editor-post-title__block::after {
	bottom: 12px;
	left: 14px;
	width: calc(100% - 28px);
	height: 3px;
}

.editor-post-title__block .editor-post-title__input {
	text-shadow: 1px 1px 0 var(--color-text-border-color);
	color: var(--color-text-main);
	font-weight: bold;
	font-size: 2.2em;
	font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Hiragino Sans", "Noto Sans CJK JP", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
	line-height: 1.4;
	letter-spacing: 0.04em;
}

.editor-post-title__block .editor-post-title__input:focus {
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.5em;
	margin-bottom: 1em;
	font-weight: bold;
	line-height: 1.4 !important;
	text-shadow: 1px 1px 0 var(--color-text-border-color);
}

h1,
h2,
h3 {
	position: relative;
	padding-bottom: 0.3em;
}

h1::before,
h2::before,
h3::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 1000px;
	box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
	content: "";
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1em;
}

p.has-background {
	padding: 1.5em 1em;
}

p.has-drop-cap:not(:focus)::first-letter {
	float: left;
	margin: 0 0.1em 0 0;
	padding: 0;
	font-size: 4em;
	line-height: 1;
}

ul,
ol {
	margin-left: auto;
	padding-left: 1.5em;
}

ul li,
ol li {
	margin: 0.5em 0;
}

ul ul,
ol ul {
	padding: 0;
	list-style: none;
}

ul ul li,
ol ul li {
	position: relative;
	padding-left: 1em;
}

ul ul li::before,
ol ul li::before {
	position: absolute;
	left: 0;
	content: "-";
}

code {
	padding: 0.1em 0.3em;
	color: var(--color-text-main);
	font-family: consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", monaco, "Courier New", courier, monospace;
	background: var(--color-nm-dark);
	border-radius: 4px;
}

img[class*="wp-image-"] {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 5px;
	border-radius: 8px;
}

img[class*="wp-image-"]:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

img[class*="wp-image-"]:hover,
img[class*="wp-image-"]:active {
	text-decoration: none;
	outline: none;
}

img[class*="wp-image-"]:focus {
	text-decoration: none;
}

figcaption {
	margin-top: 0.5em;
	margin-bottom: 0;
	color: inherit;
	font-size: 0.8em;
	opacity: 0.8;
}

.block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	opacity: 0.7;
}

.wp-block {
	max-width: 800px;
	color: var(--color-text-main);
	font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Hiragino Sans", "Noto Sans CJK JP", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
	line-height: 1.7;
	letter-spacing: 0.04em;
	word-break: break-word;
}

.wp-block .wp-block:not([data-type="core/social-link"]) {
	color: inherit;
}

.wp-block[data-align="left"] [data-block],
.wp-block[data-align="right"] [data-block] {
	margin-top: 0;
	margin-bottom: 0.5em;
}

.wp-block[data-align="left"] > *,
.wp-block[data-align="right"] > * {
	position: relative;
}

.wp-block[data-align="center"] {
	text-align: center;
}

.wp-block[data-align="wide"] {
	max-width: 1000px;
}

.wp-block[data-align="full"] {
	max-width: none;
}

/*------------------------------------------
# Block Settings
------------------------------------------*/

/*----------------------
## Color
----------------------*/

.has-bg-color {
	color: var(--color-bg);
}

.has-dark-color {
	color: var(--color-nm-dark);
}

.has-light-color {
	color: var(--color-nm-light);
}

.has-main-text-color {
	color: var(--color-text-main);
}

.has-accent-color {
	color: var(--color-accent);
}

.has-link-text-color {
	color: var(--color-text-link);
}

.has-white-color {
	color: #fff;
}

/*----------------------
## Gradient color
----------------------*/

.has-dark-light-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-nm-light)) !important;
}

.has-dark-text-main-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-text-main)) !important;
}

.has-dark-accent-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-accent)) !important;
}

.has-dark-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-text-link)) !important;
}

.has-light-main-text-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-light), var(--color-text-main)) !important;
}

.has-light-accent-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-light), var(--color-accent)) !important;
}

.has-light-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-light), var(--color-text-link)) !important;
}

.has-main-text-accent-gradient-background {
	background: linear-gradient(135deg, var(--color-text-main), var(--color-accent)) !important;
}

.has-main-text-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-text-main), var(--color-text-link)) !important;
}

.has-accent-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-accent), var(--color-text-link)) !important;
}

/*----------------------
# Quote
----------------------*/

.wp-block-quote,
.wp-block-quote.has-text-align-center,
.wp-block-quote.has-text-align-right {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	position: relative;
	padding: 2em 2em 2em 3.5em;
	color: var(--color-text-main);
	border: none;
	border-radius: 8px;
}

.wp-block-quote:not(.has-background):not(.has-background-dim),
.wp-block-quote.has-text-align-center:not(.has-background):not(.has-background-dim),
.wp-block-quote.has-text-align-right:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-quote:hover,
.wp-block-quote:active,
.wp-block-quote.has-text-align-center:hover,
.wp-block-quote.has-text-align-center:active,
.wp-block-quote.has-text-align-right:hover,
.wp-block-quote.has-text-align-right:active {
	text-decoration: none;
	outline: none;
}

.wp-block-quote:focus,
.wp-block-quote.has-text-align-center:focus,
.wp-block-quote.has-text-align-right:focus {
	text-decoration: none;
}

.wp-block-quote::before,
.wp-block-quote.has-text-align-center::before,
.wp-block-quote.has-text-align-right::before {
	text-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	position: absolute;
	top: 0.5em;
	left: 0.7em;
	font-weight: 900;
	font-size: 1.6em;
	font-family: "Font Awesome 5 Free";
	content: "\f10d";
}

.wp-block-quote p,
.wp-block-quote.has-text-align-center p,
.wp-block-quote.has-text-align-right p {
	margin: 0 0 1em;
}

.wp-block-quote p:last-of-type,
.wp-block-quote.has-text-align-center p:last-of-type,
.wp-block-quote.has-text-align-right p:last-of-type {
	margin-bottom: 0;
}

.wp-block-quote__citation,
.wp-block-quote.has-text-align-center__citation,
.wp-block-quote.has-text-align-right__citation {
	display: block;
	color: inherit;
	font-size: 0.8em;
	font-style: italic;
	opacity: 0.8;
}

.wp-block-quote.is-style-large,
.wp-block-quote.has-text-align-center.is-style-large,
.wp-block-quote.has-text-align-right.is-style-large {
	margin-bottom: 0;
	padding: 2em 2em 2em 5em;
}

.wp-block-quote.is-style-large::before,
.wp-block-quote.has-text-align-center.is-style-large::before,
.wp-block-quote.has-text-align-right.is-style-large::before {
	font-size: 2.4em;
}

.wp-block-quote.is-style-large p,
.wp-block-quote.has-text-align-center.is-style-large p,
.wp-block-quote.has-text-align-right.is-style-large p {
	font-size: 1.4em;
	font-style: normal;
	line-height: inherit;
}

.wp-block-quote.is-style-large .wp-block-quote__citation,
.wp-block-quote.has-text-align-center.is-style-large .wp-block-quote__citation,
.wp-block-quote.has-text-align-right.is-style-large .wp-block-quote__citation {
	font-size: 1em;
}

/*----------------------
# Image
----------------------*/

.wp-block-image.is-resized {
	display: block;
}

.wp-block-image:not(.is-style-nm-none) img {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 5px;
	border-radius: 8px;
}

.wp-block-image:not(.is-style-nm-none) img:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-image:not(.is-style-nm-none) img:hover,
.wp-block-image:not(.is-style-nm-none) img:active {
	text-decoration: none;
	outline: none;
}

.wp-block-image:not(.is-style-nm-none) img:focus {
	text-decoration: none;
}

.wp-block-image figcaption {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0;
	color: inherit;
	font-size: 0.8em;
	text-align: inherit;
	opacity: 0.8;
}

.wp-block-image.is-style-rounded img {
	border-radius: 50%;
}

.wp-block[data-align="left"] > .wp-block-image {
	margin-right: 1.5em;
}

.wp-block[data-align="left"] > .wp-block-image figcaption {
	text-align: center;
}

.wp-block[data-align="right"] > .wp-block-image {
	margin-left: 1.5em;
}

.wp-block[data-align="right"] > .wp-block-image figcaption {
	text-align: center;
}

/*----------------------
# File
----------------------*/

.wp-block-file .wp-block-file__textlink {
	margin-bottom: 0.5em;
	color: var(--color-text-link);
	text-decoration: underline;
}

.wp-block-file .wp-block-file__button-richtext-wrapper {
	margin-bottom: 0.5em;
}

.wp-block-file .wp-block-file__button {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	color: inherit;
	font-weight: bold;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	color: var(--color-accent);
	font-size: 0.8em;
	border-radius: 1000px;
}

.wp-block-file .wp-block-file__button:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-file .wp-block-file__button:hover,
.wp-block-file .wp-block-file__button:active {
	text-decoration: none;
	outline: none;
}

.wp-block-file .wp-block-file__button:focus {
	text-decoration: none;
}

/*----------------------
# Video
----------------------*/

.wp-block-video video {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 5px;
	border-radius: 8px;
	display: block;
}

.wp-block-video video:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-video video:hover,
.wp-block-video video:active {
	text-decoration: none;
	outline: none;
}

.wp-block-video video:focus {
	text-decoration: none;
}

.wp-block-video figcaption {
	text-align: inherit;
}

.wp-block[data-align="center"] > .wp-block-video video {
	margin-right: auto;
	margin-left: auto;
}

/*----------------------
# Gallery
----------------------*/

.wp-block-gallery .blocks-gallery-grid.blocks-gallery-grid {
	margin: 0;
	padding: 0;
}

.wp-block-gallery .blocks-gallery-image figure,
.wp-block-gallery .blocks-gallery-item figure {
	justify-content: center;
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
	bottom: 5px;
	left: 5px;
	width: calc(100% - 10px);
	max-height: calc(100% - 10px);
	padding: 0.5em;
	color: #fff;
	font-size: 0.8em;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0 0 8px 8px;
}

.wp-block-gallery .blocks-gallery-image img,
.wp-block-gallery .blocks-gallery-item img {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 5px;
	border-radius: 8px;
	width: 100%;
}

.wp-block-gallery .blocks-gallery-image img:not(.has-background):not(.has-background-dim),
.wp-block-gallery .blocks-gallery-item img:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-gallery .blocks-gallery-image img:hover,
.wp-block-gallery .blocks-gallery-image img:active,
.wp-block-gallery .blocks-gallery-item img:hover,
.wp-block-gallery .blocks-gallery-item img:active {
	text-decoration: none;
	outline: none;
}

.wp-block-gallery .blocks-gallery-image img:focus,
.wp-block-gallery .blocks-gallery-item img:focus {
	text-decoration: none;
}

/*----------------------
# Cover
----------------------*/

.wp-block-cover {
	min-height: 200px;
	overflow: hidden;
}

.wp-block-cover .block-editor-block-list__layout > .wp-block:first-child {
	margin-top: 0;
}

.wp-block-cover .block-editor-block-list__layout > .wp-block:nth-last-child(2) {
	margin-bottom: 0;
}

.wp-block-cover .wp-block-cover__inner-container {
	padding: 2em 0;
}

.wp-block-cover.is-style-nm {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	border-radius: 8px;
}

.wp-block-cover.is-style-nm:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-cover.is-style-nm:hover,
.wp-block-cover.is-style-nm:active {
	text-decoration: none;
	outline: none;
}

.wp-block-cover.is-style-nm:focus {
	text-decoration: none;
}

.wp-block-cover.is-style-nm-reverse {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	border-radius: 8px;
}

.wp-block-cover.is-style-nm-reverse:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-cover.is-style-nm-reverse:hover,
.wp-block-cover.is-style-nm-reverse:active {
	text-decoration: none;
	outline: none;
}

.wp-block-cover.is-style-nm-reverse:focus {
	text-decoration: none;
}

.wp-block-cover h1,
.wp-block-cover h2,
.wp-block-cover h3,
.wp-block-cover h4,
.wp-block-cover h5,
.wp-block-cover h6 {
	margin-top: 0;
	text-shadow: none;
}

.wp-block-cover h1,
.wp-block-cover h2,
.wp-block-cover h3 {
	padding-bottom: 0;
}

.wp-block-cover h1::before,
.wp-block-cover h2::before,
.wp-block-cover h3::before {
	content: none;
}

/*----------------------
### Audio
----------------------*/

.wp-block-audio audio {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	display: inline-block;
	width: auto;
	padding: 5px;
	vertical-align: top;
	border-radius: 1000px;
}

.wp-block-audio audio:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-audio audio:hover,
.wp-block-audio audio:active {
	text-decoration: none;
	outline: none;
}

.wp-block-audio audio:focus {
	text-decoration: none;
}

.wp-block-audio figcaption {
	margin-top: 1em;
	margin-bottom: 0;
	color: inherit;
	font-size: 0.8em;
	text-align: inherit;
	opacity: 0.8;
}

/*----------------------
# Pullquote
----------------------*/

.wp-block-pullquote {
	padding: 0;
	color: var(--color-text-main);
	text-align: inherit;
}

.wp-block-pullquote blockquote {
	margin: 0;
	padding: 0;
	border-radius: 0;
	box-shadow: none;
}

.wp-block-pullquote blockquote::before {
	content: none;
}

.wp-block-pullquote blockquote p {
	margin: 0 0 1em;
	font-size: inherit;
}

.wp-block-pullquote blockquote .wp-block-pullquote__citation {
	display: block;
	font-size: 0.8em;
	font-style: italic;
	text-transform: initial;
	opacity: 0.8;
}

.wp-block-pullquote:not(.is-style-solid-color) {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 2em;
	border-color: var(--color-text-main);
	border-radius: 8px;
}

.wp-block-pullquote:not(.is-style-solid-color):not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-pullquote:not(.is-style-solid-color):hover,
.wp-block-pullquote:not(.is-style-solid-color):active {
	text-decoration: none;
	outline: none;
}

.wp-block-pullquote:not(.is-style-solid-color):focus {
	text-decoration: none;
}

.wp-block-pullquote:not(.is-style-solid-color) blockquote {
	padding: 1em 0;
	border-color: inherit !important;
	border-top: 3px solid;
	border-bottom: 3px solid;
}

.wp-block-pullquote.is-style-solid-color blockquote {
	max-width: 100%;
	padding: 2em;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
	margin-bottom: 1em;
	font-size: 1.4em;
}

.wp-block-pullquote.is-style-solid-color blockquote .wp-block-pullquote__citation {
	font-size: 1em;
	font-style: italic;
}

.wp-block-pullquote.is-style-solid-color.has-background blockquote {
	background-color: transparent;
}

.wp-block-pullquote.is-style-solid-color:not(.has-background) blockquote {
	padding: 0;
}

/*----------------------
# Table
----------------------*/

.wp-block-table {
	overflow-x: initial;
}

.wp-block-table table {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	width: auto;
	margin-bottom: 0.5em;
	overflow: hidden;
	border-radius: 8px;
}

.wp-block-table table:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-table table:hover,
.wp-block-table table:active {
	text-decoration: none;
	outline: none;
}

.wp-block-table table:focus {
	text-decoration: none;
}

.wp-block-table th,
.wp-block-table td {
	padding: 1em;
	text-align: left;
	border: none;
	border-right: 1px solid var(--color-nm-dark);
	border-bottom: 1px solid var(--color-nm-dark);
}

.wp-block-table th:last-child,
.wp-block-table td:last-child {
	border-right: none;
}

.wp-block-table thead th {
	text-align: left;
	border-bottom-width: 2px;
}

.wp-block-table tbody tr:last-child td {
	border-bottom: none;
}

.wp-block-table tfoot td {
	border-top: 2px solid var(--color-nm-dark);
	border-bottom: none;
}

.wp-block-table figcaption {
	text-align: inherit;
}

.wp-block-table.is-style-stripes {
	border-bottom: none;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
	background-color: var(--color-nm-light);
}

.wp-block[data-align="center"] > .wp-block-table {
	text-align: inherit;
}

/*----------------------
# Verse
----------------------*/

.wp-block-verse {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	position: relative;
	padding: 2em;
	border-radius: 8px;
}

.wp-block-verse:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-verse:hover,
.wp-block-verse:active {
	text-decoration: none;
	outline: none;
}

.wp-block-verse:focus {
	text-decoration: none;
}

/*----------------------
# Code
----------------------*/

.wp-block-code {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 2em;
	border-radius: 8px;
}

.wp-block-code:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-code:hover,
.wp-block-code:active {
	text-decoration: none;
	outline: none;
}

.wp-block-code:focus {
	text-decoration: none;
}

.wp-block-code .block-editor-plain-text,
.wp-block-code code {
	background: transparent;
}

/*----------------------
### Classic
----------------------*/

.wp-block-freeform.block-library-rich-text__tinymce > * {
	margin: 0 0 2em;
}

.wp-block-freeform.block-library-rich-text__tinymce h1,
.wp-block-freeform.block-library-rich-text__tinymce h2,
.wp-block-freeform.block-library-rich-text__tinymce h3,
.wp-block-freeform.block-library-rich-text__tinymce h4,
.wp-block-freeform.block-library-rich-text__tinymce h5,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
	margin-top: 1.5em;
	margin-bottom: 1em;
	line-height: 1.4;
}

.wp-block-freeform.block-library-rich-text__tinymce code {
	padding: 0.1em 0.3em;
	color: var(--color-text-main);
	font-size: 0.9em;
	font-family: consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", monaco, "Courier New", courier, monospace;
	background: var(--color-nm-dark);
	border-radius: 4px;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote {
	position: relative;
	padding: 2em 2em 2em 3.5em;
	color: var(--color-text-main);
	border-radius: 8px;
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote:hover,
.wp-block-freeform.block-library-rich-text__tinymce blockquote:active {
	text-decoration: none;
	outline: none;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote:focus {
	text-decoration: none;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote::before {
	text-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	position: absolute;
	top: 0.5em;
	left: 0.7em;
	font-weight: 900;
	font-size: 1.6em;
	font-family: "Font Awesome 5 Free";
	content: "\f10d";
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote p {
	margin: 0 0 1em;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote p:last-of-type {
	margin-bottom: 0;
}

.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption .wp-caption-dd {
	margin-top: 0.5em;
	margin-bottom: 0;
	color: inherit;
	font-size: 0.8em;
	opacity: 0.8;
}

.wp-block-freeform.block-library-rich-text__tinymce .gallery img {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 5px;
	border-radius: 8px;
	width: 100%;
}

.wp-block-freeform.block-library-rich-text__tinymce .gallery img:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-freeform.block-library-rich-text__tinymce .gallery img:hover,
.wp-block-freeform.block-library-rich-text__tinymce .gallery img:active {
	text-decoration: none;
	outline: none;
}

.wp-block-freeform.block-library-rich-text__tinymce .gallery img:focus {
	text-decoration: none;
}

.wp-block-freeform.block-library-rich-text__tinymce .gallery .gallery-caption {
	margin-top: 0.5em;
	margin-bottom: 0;
	font-size: 0.8em;
	opacity: 0.8;
}

/*----------------------
# Media & Text
----------------------*/

.wp-block-media-text .wp-block-media-text__media {
	text-align: center;
}

.wp-block-media-text .wp-block-media-text__media img,
.wp-block-media-text .wp-block-media-text__media video {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 5px;
	border-radius: 8px;
	max-width: 100%;
}

.wp-block-media-text .wp-block-media-text__media img:not(.has-background):not(.has-background-dim),
.wp-block-media-text .wp-block-media-text__media video:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-media-text .wp-block-media-text__media img:hover,
.wp-block-media-text .wp-block-media-text__media img:active,
.wp-block-media-text .wp-block-media-text__media video:hover,
.wp-block-media-text .wp-block-media-text__media video:active {
	text-decoration: none;
	outline: none;
}

.wp-block-media-text .wp-block-media-text__media img:focus,
.wp-block-media-text .wp-block-media-text__media video:focus {
	text-decoration: none;
}

.wp-block-media-text .wp-block-media-text__content {
	padding: 0 0 0 2em;
}

.wp-block-media-text .wp-block-media-text__content .block-editor-block-list__block:first-child {
	margin-top: 0 !important;
}

.wp-block-media-text .wp-block-media-text__content .block-editor-block-list__block:nth-last-child(2) {
	margin-bottom: 0 !important;
}

.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
	padding: 0 2em 0 0;
}

.wp-block-media-text.has-background {
	padding: 1.5em 1em;
}

.wp-block-media-text.is-style-nm {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	padding: 1.5em 1em;
	border-radius: 8px;
}

.wp-block-media-text.is-style-nm:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-media-text.is-style-nm:hover,
.wp-block-media-text.is-style-nm:active {
	text-decoration: none;
	outline: none;
}

.wp-block-media-text.is-style-nm:focus {
	text-decoration: none;
}

/*----------------------
# Separator
----------------------*/

.wp-block-separator {
	height: auto;
	padding: 10px 0;
	border: none;
	cursor: pointer;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 50%;
}

.wp-block-separator:not(.is-style-dots):not(.has-background) {
	position: relative;
}

.wp-block-separator:not(.is-style-dots):not(.has-background)::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 1000px;
	box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
	content: "";
}

.wp-block-separator:not(.is-style-dots):not(.has-background)::before {
	top: 50%;
	bottom: auto;
	margin-top: -2px;
}

.wp-block-separator.has-background:not(.is-style-dots) {
	position: relative;
	height: auto;
	background-color: transparent !important;
}

.wp-block-separator.has-background:not(.is-style-dots)::before {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 3px;
	margin-top: -1.5px;
	background: currentColor;
	content: "";
}

.wp-block-separator.is-style-dots {
	padding: 10px 0 0;
}

.wp-block-separator.is-style-dots::before {
	font-size: 40px;
	font-family: inherit;
	line-height: 0;
}

/*----------------------
# Buttons
----------------------*/

.wp-block-button {
	margin: 0 10px 20px;
	color: inherit;
}

.wp-block-button:not(.has-text-color):not(.is-style-outline) [data-rich-text-placeholder]::after {
	color: inherit;
}

.wp-block-button__link {
	position: relative;
	padding: 0.5em 1.5em;
	font-weight: bold;
	font-size: 1.1em;
	border-radius: 1000px;
}

.wp-block-button__link:not(.has-background) {
	background-color: transparent;
}

.wp-block-button__link::before {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	position: absolute;
	top: -3px;
	right: -3px;
	bottom: -3px;
	left: -3px;
	border-radius: inherit;
	content: "";
}

.wp-block-button__link::before:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-button__link::before:hover,
.wp-block-button__link::before:active {
	text-decoration: none;
	outline: none;
}

.wp-block-button__link::before:focus {
	text-decoration: none;
}

/*----------------------
# Group
----------------------*/

.wp-block-group.has-background {
	margin-bottom: 28px;
	padding: 1.5em 1.5em 2em;
}

.wp-block-group.is-style-nm {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	padding: 1.5em 1.5em 2em;
	border-radius: 8px;
}

.wp-block-group.is-style-nm:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-group.is-style-nm:hover,
.wp-block-group.is-style-nm:active {
	text-decoration: none;
	outline: none;
}

.wp-block-group.is-style-nm:focus {
	text-decoration: none;
}

.wp-block-group.is-style-nm-reverse {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 1.5em 1.5em 2em;
	border-radius: 8px;
}

.wp-block-group.is-style-nm-reverse:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-group.is-style-nm-reverse:hover,
.wp-block-group.is-style-nm-reverse:active {
	text-decoration: none;
	outline: none;
}

.wp-block-group.is-style-nm-reverse:focus {
	text-decoration: none;
}

.wp-block-group .wp-block:first-child {
	margin-top: 0;
}

.wp-block-group .wp-block:last-child {
	margin-bottom: 0;
}

/*----------------------
# Columns
----------------------*/

.wp-block-columns.has-background {
	padding: 1.5em 1.5em 2em;
}

.wp-block-columns.is-style-nm {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	padding: 1.5em 1.5em 2em;
	border-radius: 8px;
}

.wp-block-columns.is-style-nm:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-columns.is-style-nm:hover,
.wp-block-columns.is-style-nm:active {
	text-decoration: none;
	outline: none;
}

.wp-block-columns.is-style-nm:focus {
	text-decoration: none;
}

.wp-block-columns.is-style-nm-reverse {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 1.5em 1.5em 2em;
	border-radius: 8px;
}

.wp-block-columns.is-style-nm-reverse:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-columns.is-style-nm-reverse:hover,
.wp-block-columns.is-style-nm-reverse:active {
	text-decoration: none;
	outline: none;
}

.wp-block-columns.is-style-nm-reverse:focus {
	text-decoration: none;
}

.wp-block-columns .wp-block:first-child {
	margin-top: 0;
}

.wp-block-columns .wp-block:last-child {
	margin-bottom: 0;
}

/*----------------------
# More
----------------------*/

.wp-block-more::before {
	border-top: 3px var(--color-accent) solid;
}

.wp-block-more input[type="text"] {
	color: var(--color-accent);
	font-family: inherit;
	background: var(--color-nm-light);
}

/*----------------------
# Page Break
----------------------*/

.wp-block-nextpage::before {
	border-top: 3px var(--color-accent) solid;
}

.wp-block-nextpage > span {
	min-height: 30px;
	color: var(--color-accent);
	font-family: inherit;
	line-height: normal;
	background: var(--color-nm-light);
}

/*----------------------
# Spacer
----------------------*/

[data-type="core/spacer"] .block-library-spacer__resize-container {
	background: var(--color-nm-light);
}

/*----------------------
# Shortcode
----------------------*/

.wp-block-shortcode.components-placeholder {
	min-height: auto;
	color: inherit;
	font-family: inherit;
	background: var(--color-nm-light);
	box-shadow: inset 0 0 0 1px var(--color-nm-dark);
}

.wp-block-shortcode.components-placeholder label {
	font-family: inherit;
}

/*----------------------
# Custom HTML
----------------------*/

.wp-block-html .block-editor-plain-text {
	color: inherit;
	font-size: 0.9em;
	font-family: consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", monaco, "Courier New", courier, monospace;
	background: var(--color-nm-dark);
}

/*----------------------
# Latest Posts
----------------------*/

.wp-block-latest-posts {
	position: relative;
	margin-left: 0;
}

.wp-block-latest-posts.wp-block-latest-posts__list {
	padding: 0;
}

.wp-block-latest-posts > li {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	padding: 1.5em 1em;
	border-radius: 8px;
}

.wp-block-latest-posts > li:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-latest-posts > li:hover,
.wp-block-latest-posts > li:active {
	text-decoration: none;
	outline: none;
}

.wp-block-latest-posts > li:focus {
	text-decoration: none;
}

.wp-block-latest-posts > li::after {
	display: table;
	clear: both;
	content: "";
}

.wp-block-latest-posts > li > a {
	margin: 0;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.4;
	text-decoration: underline;
}

.wp-block-latest-posts:not(.is-grid) li:not(:last-child) {
	margin-bottom: 1.5em;
}

.wp-block-latest-posts.is-grid {
	margin-right: -20px;
}

.wp-block-latest-posts.is-grid > li {
	padding: 1em;
}

.wp-block-latest-posts__featured-image img {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 5px;
	border-radius: 8px;
}

.wp-block-latest-posts__featured-image img:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-latest-posts__featured-image img:hover,
.wp-block-latest-posts__featured-image img:active {
	text-decoration: none;
	outline: none;
}

.wp-block-latest-posts__featured-image img:focus {
	text-decoration: none;
}

.wp-block-latest-posts__post-date {
	display: block;
	color: inherit;
	font-size: 0.8em;
}

.wp-block-latest-posts__post-date::before {
	margin-right: 0.2em;
	font-weight: 400;
	font-family: "Font Awesome 5 Free";
	content: "\f017";
}

.wp-block[data-align="left"] .wp-block-latest-posts {
	margin-right: 2em;
	margin-bottom: 0;
}

.wp-block[data-align="right"] .wp-block-latest-posts {
	margin-bottom: 0;
	margin-left: 2em;
}

/*----------------------
# Social links
----------------------*/

.wp-block-social-links {
	flex-wrap: wrap;
}

.wp-block-social-links .wp-social-link {
	margin: 0 0.5em 0.5em 0;
}

.wp-block-social-links.is-style-nm .wp-social-link {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2em;
	height: 2em;
	padding: 0;
	overflow: initial;
	font-size: 1.3em;
	border-radius: 50%;
}

.wp-block-social-links.is-style-nm .wp-social-link::before {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	position: absolute;
	top: -3px;
	right: -3px;
	bottom: -3px;
	left: -3px;
	border-radius: inherit;
	content: "";
}

.wp-block-social-links.is-style-nm .wp-social-link::before:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-social-links.is-style-nm .wp-social-link::before:hover,
.wp-block-social-links.is-style-nm .wp-social-link::before:active {
	text-decoration: none;
	outline: none;
}

.wp-block-social-links.is-style-nm .wp-social-link::before:focus {
	text-decoration: none;
}

.block-editor-block-list__block[data-type="core/social-link"]:not([contenteditable]):focus::after {
	content: none;
}

/*----------------------
# RSS
----------------------*/

.wp-block-rss {
	list-style: none;
}

.wp-block-rss:not(.is-grid) {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	margin-left: 0;
	padding: 1.5em 1em;
	border-radius: 8px;
}

.wp-block-rss:not(.is-grid):not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-rss:not(.is-grid):hover,
.wp-block-rss:not(.is-grid):active {
	text-decoration: none;
	outline: none;
}

.wp-block-rss:not(.is-grid):focus {
	text-decoration: none;
}

.wp-block-rss:not(.is-grid) > li {
	margin: 0;
}

.wp-block-rss:not(.is-grid) > li:not(:last-child) {
	position: relative;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.wp-block-rss:not(.is-grid) > li:not(:last-child)::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 1000px;
	box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
	content: "";
}

.wp-block-rss.is-grid {
	max-width: none;
	margin-right: -8px;
	margin-left: -8px;
}

.wp-block-rss.is-grid > li {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	margin: 0 8px 16px;
	padding: 1em;
	border-radius: 8px;
}

.wp-block-rss.is-grid > li:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-rss.is-grid > li:hover,
.wp-block-rss.is-grid > li:active {
	text-decoration: none;
	outline: none;
}

.wp-block-rss.is-grid > li:focus {
	text-decoration: none;
}

.wp-block-rss__item-title a {
	display: inline-block;
}

.wp-block-rss__item-title a::before {
	display: inline-block;
	margin-right: 0.5em;
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	content: "\f09e";
}

.wp-block-rss__item-author {
	color: inherit;
	font-size: 0.8em;
	font-style: italic;
}

.wp-block-rss__item-publish-date {
	display: block;
	color: inherit;
	font-size: 0.8em;
}

.wp-block-rss__item-publish-date::before {
	margin-right: 0.2em;
	font-weight: 400;
	font-family: "Font Awesome 5 Free";
	content: "\f017";
}

.wp-block-rss__item-excerpt {
	font-size: 0.9em;
}

/*----------------------
# Categories
----------------------*/

[data-type="core/categories"] .wp-block-categories .wp-block-categories__dropdown {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	min-width: 0;
	max-width: 100%;
	height: auto;
	padding: 0.7em 3em 0.7em 1.4em;
	color: inherit;
	font-size: inherit;
	font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Hiragino Sans", "Noto Sans CJK JP", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
	line-height: inherit;
	background: url(../images/chevron-down-solid.svg) no-repeat right 20px center/1em;
	border-radius: 1000px;
}

[data-type="core/categories"] .wp-block-categories .wp-block-categories__dropdown:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

[data-type="core/categories"] .wp-block-categories .wp-block-categories__dropdown:hover,
[data-type="core/categories"] .wp-block-categories .wp-block-categories__dropdown:active {
	text-decoration: none;
	outline: none;
}

[data-type="core/categories"] .wp-block-categories .wp-block-categories__dropdown:focus {
	text-decoration: none;
}

[data-type="core/categories"] .wp-block-categories .wp-block-categories__dropdown:focus,
[data-type="core/categories"] .wp-block-categories .wp-block-categories__dropdown:active,
[data-type="core/categories"] .wp-block-categories .wp-block-categories__dropdown:disabled {
	color: inherit;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
}

[data-type="core/categories"] .wp-block-categories .wp-block-categories__dropdown option {
	background: #fff;
}

[data-type="core/categories"] .wp-block-categories > ul {
	margin-left: 0;
	padding-left: 1.5em;
}

[data-type="core/categories"] .wp-block-categories > ul li {
	margin: 0.5em 0;
}

[data-type="core/categories"] .wp-block-categories > ul ul {
	margin-left: 0;
	padding: 0;
	list-style: none;
}

[data-type="core/categories"] .wp-block-categories > ul ul li {
	position: relative;
	padding-left: 1em;
}

[data-type="core/categories"] .wp-block-categories > ul ul li::before {
	position: absolute;
	left: 0;
	content: "-";
}

/*----------------------
# Latest-Comments
----------------------*/

.wp-block-latest-comments {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	margin: 0;
	padding: 1.5em 1em;
	border-radius: 8px;
}

.wp-block-latest-comments:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-latest-comments:hover,
.wp-block-latest-comments:active {
	text-decoration: none;
	outline: none;
}

.wp-block-latest-comments:focus {
	text-decoration: none;
}

.wp-block-latest-comments__comment {
	position: relative;
	margin-bottom: 0;
	line-height: inherit;
	text-align: left;
}

.wp-block-latest-comments__comment:not(:last-child) {
	position: relative;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.wp-block-latest-comments__comment:not(:last-child)::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 1000px;
	box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
	content: "";
}

.wp-block-latest-comments .avatar,
.wp-block-latest-comments__comment-avatar {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	position: absolute;
	top: -9px;
	margin: 0;
}

.wp-block-latest-comments .avatar:not(.has-background):not(.has-background-dim),
.wp-block-latest-comments__comment-avatar:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-latest-comments .avatar:hover,
.wp-block-latest-comments .avatar:active,
.wp-block-latest-comments__comment-avatar:hover,
.wp-block-latest-comments__comment-avatar:active {
	text-decoration: none;
	outline: none;
}

.wp-block-latest-comments .avatar:focus,
.wp-block-latest-comments__comment-avatar:focus {
	text-decoration: none;
}

.wp-block-latest-comments__comment-date {
	display: block;
	margin-top: 0.3em;
	color: inherit;
	font-size: 0.8em;
}

.wp-block-latest-comments__comment-date::before {
	margin-right: 0.2em;
	font-weight: 400;
	font-family: "Font Awesome 5 Free";
	content: "\f017";
}

.wp-block-latest-comments__comment-excerpt p {
	margin: 0.2em 0 0;
	line-height: inherit;
}

/*----------------------
# Archives
----------------------*/

.wp-block-archives-dropdown select:active,
.wp-block-archives-dropdown select:focus,
.wp-block-archives-dropdown select:disabled {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 0.7em 3em 0.7em 1.4em;
	font-size: inherit;
	font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Hiragino Sans", "Noto Sans CJK JP", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
	line-height: inherit;
	text-shadow: none;
	background: url(../images/chevron-down-solid.svg) no-repeat right 20px center/1em;
	border-radius: 1000px;
}

.wp-block-archives-dropdown select:active:not(.has-background):not(.has-background-dim),
.wp-block-archives-dropdown select:focus:not(.has-background):not(.has-background-dim),
.wp-block-archives-dropdown select:disabled:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-archives-dropdown select:active:hover,
.wp-block-archives-dropdown select:active:active,
.wp-block-archives-dropdown select:focus:hover,
.wp-block-archives-dropdown select:focus:active,
.wp-block-archives-dropdown select:disabled:hover,
.wp-block-archives-dropdown select:disabled:active {
	text-decoration: none;
	outline: none;
}

.wp-block-archives-dropdown select:active:focus,
.wp-block-archives-dropdown select:focus:focus,
.wp-block-archives-dropdown select:disabled:focus {
	text-decoration: none;
}

.wp-block-archives-dropdown select:active:focus,
.wp-block-archives-dropdown select:active:active,
.wp-block-archives-dropdown select:active:disabled,
.wp-block-archives-dropdown select:focus:focus,
.wp-block-archives-dropdown select:focus:active,
.wp-block-archives-dropdown select:focus:disabled,
.wp-block-archives-dropdown select:disabled:focus,
.wp-block-archives-dropdown select:disabled:active,
.wp-block-archives-dropdown select:disabled:disabled {
	color: inherit;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
}

ul.wp-block-archives {
	margin-left: 0;
	padding-left: 1.5em;
}

/*----------------------
# Search
----------------------*/

.wp-block-search {
	position: relative;
	display: block;
	max-width: 400px;
}

.wp-block-search .wp-block-search__label {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	word-wrap: normal !important;
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
}

.wp-block-search .wp-block-search__input {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	width: 100%;
	max-width: 100%;
	padding: 0.7em 3em 0.7em 1.4em;
	color: inherit;
	font-size: inherit;
	font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Hiragino Sans", "Noto Sans CJK JP", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
	border-radius: 1000px;
	opacity: 0.7;
}

.wp-block-search .wp-block-search__input:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-search .wp-block-search__input:hover,
.wp-block-search .wp-block-search__input:active {
	text-decoration: none;
	outline: none;
}

.wp-block-search .wp-block-search__input:focus {
	text-decoration: none;
}

.wp-block-search .wp-block-search__input:focus,
.wp-block-search .wp-block-search__input:active,
.wp-block-search .wp-block-search__input:disabled {
	color: inherit;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
}

.wp-block-search .wp-block-search__input::-moz-placeholder {
	color: inherit;
	opacity: 0.7;
}

.wp-block-search .wp-block-search__input:-ms-input-placeholder {
	color: inherit;
	opacity: 0.7;
}

.wp-block-search .wp-block-search__input::-ms-input-placeholder {
	color: inherit;
	opacity: 0.7;
}

.wp-block-search .wp-block-search__input::placeholder {
	color: inherit;
	opacity: 0.7;
}

.wp-block-search .wp-block-search__button {
	position: absolute;
	top: 50%;
	right: 0.5em;
	width: 2em;
	height: 2em;
	margin: 0;
	padding: 0;
	color: var(--color-accent);
	font-size: inherit;
	transform: translateY(-50%);
	visibility: hidden;
	transition: opacity 0.2s ease-in-out;
}

.wp-block-search .wp-block-search__button::before {
	position: absolute;
	top: 50%;
	left: 50%;
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	transform: translate(-50%, -50%);
	visibility: visible;
	content: "\f002";
}

[data-align="center"] .wp-block-search {
	margin-right: auto;
	margin-left: auto;
}

/*----------------------
# Tag Cloud
----------------------*/

.wp-block-tag-cloud {
	margin-top: 0;
}

.wp-block-tag-cloud a {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: inherit;
	font-weight: bold;
	font-size: inherit;
	font-family: inherit;
	text-align: center;
	text-decoration: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 1em;
	padding: 0.3em 1em;
	color: var(--color-accent);
	font-size: 1em !important;
	border-radius: 1000px;
	pointer-events: none;
}

.wp-block-tag-cloud a:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-tag-cloud a:hover,
.wp-block-tag-cloud a:active {
	text-decoration: none;
	outline: none;
}

.wp-block-tag-cloud a:focus {
	text-decoration: none;
}

.wp-block-tag-cloud a:focus,
.wp-block-tag-cloud a:visited {
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
}

.wp-block-tag-cloud a:hover {
	box-shadow: 2px 2px 5px var(--color-nm-dark), -2px -2px 5px var(--color-nm-light);
}

.wp-block-tag-cloud a:active {
	box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
}

.wp-block-tag-cloud a .tag-link-count {
	color: var(--color-text-main);
	opacity: 0.8;
}

[data-align="left"] .wp-block-tag-cloud,
[data-align="right"] .wp-block-tag-cloud {
	margin-bottom: 0;
}

/*----------------------
# Calendar
----------------------*/

.wp-block-calendar {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	max-width: 350px;
	padding: 1.5em 1em;
	border-radius: 8px;
}

.wp-block-calendar:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-calendar:hover,
.wp-block-calendar:active {
	text-decoration: none;
	outline: none;
}

.wp-block-calendar:focus {
	text-decoration: none;
}

.wp-block-calendar.aligncenter {
	margin-right: auto;
	margin-left: auto;
}

.wp-block-calendar .wp-calendar-table {
	width: 100%;
	table-layout: fixed;
}

.wp-block-calendar .wp-calendar-table caption {
	margin-bottom: 1em;
	font-weight: bold;
}

.wp-block-calendar .wp-calendar-table thead th {
	font-weight: bold;
	text-align: center;
	background: transparent;
	border: none;
}

.wp-block-calendar .wp-calendar-table tbody td {
	padding: 0;
	padding: 0.3em;
	line-height: 2.4;
	text-align: center;
	border: none;
}

.wp-block-calendar .wp-calendar-table tbody td a {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	display: block;
	color: var(--color-accent) !important;
	font-weight: bold;
	border-radius: 8px;
}

.wp-block-calendar .wp-calendar-table tbody td a:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-calendar .wp-calendar-table tbody td a:hover,
.wp-block-calendar .wp-calendar-table tbody td a:active {
	text-decoration: none;
	outline: none;
}

.wp-block-calendar .wp-calendar-table tbody td a:focus {
	text-decoration: none;
}

.wp-block-calendar .wp-calendar-nav {
	display: flex;
	justify-content: space-between;
	padding-top: 0.5em;
}

.wp-block-calendar .wp-calendar-nav a {
	padding: 0.5em;
	color: var(--color-accent) !important;
	text-decoration: none;
}

/*------------------------------------------
## Embeds
------------------------------------------*/

.wp-block-embed-youtube iframe {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 5px;
	border-radius: 8px;
}

.wp-block-embed-youtube iframe:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-embed-youtube iframe:hover,
.wp-block-embed-youtube iframe:active {
	text-decoration: none;
	outline: none;
}

.wp-block-embed-youtube iframe:focus {
	text-decoration: none;
}

.wp-block-embed-facebook {
	max-width: 500px;
}

.wp-block-embed-facebook .components-placeholder {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 5px;
	border-radius: 8px;
	padding: 1em;
}

.wp-block-embed-facebook .components-placeholder:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-embed-facebook .components-placeholder:hover,
.wp-block-embed-facebook .components-placeholder:active {
	text-decoration: none;
	outline: none;
}

.wp-block-embed-facebook .components-placeholder:focus {
	text-decoration: none;
}

.wp-block-embed-instagram {
	max-width: 500px;
}

.wp-block-embed-instagram iframe {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 5px;
	border-radius: 8px;
}

.wp-block-embed-instagram iframe:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-embed-instagram iframe:hover,
.wp-block-embed-instagram iframe:active {
	text-decoration: none;
	outline: none;
}

.wp-block-embed-instagram iframe:focus {
	text-decoration: none;
}

.wp-block-embed-twitter {
	max-width: 500px;
}

.wp-block-embed-twitter iframe {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 5px;
	border-radius: 8px;
}

.wp-block-embed-twitter iframe:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.wp-block-embed-twitter iframe:hover,
.wp-block-embed-twitter iframe:active {
	text-decoration: none;
	outline: none;
}

.wp-block-embed-twitter iframe:focus {
	text-decoration: none;
}

[data-align="left"] .wp-block-embed,
[data-align="right"] .wp-block-embed {
	width: 100%;
	max-width: 500px;
}

[data-align="center"] .wp-block-embed-facebook,
[data-align="center"] .wp-block-embed-instagram,
[data-align="center"] .wp-block-embed-twitter {
	margin-right: auto;
	margin-left: auto;
}

@media screen and (max-width: 959px) {
	.wp-block-media-text.is-stacked-on-mobile > .wp-block-media-text__media {
		margin-bottom: 2em;
	}

	.wp-block-media-text.is-stacked-on-mobile > .wp-block-media-text__media > img,
	.wp-block-media-text.is-stacked-on-mobile > .wp-block-media-text__media > video {
		width: auto;
	}

	.wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__content {
		-ms-grid-row: 2;
		grid-row: 2;
	}

	.wp-block-media-text.is-stacked-on-mobile.has-media-on-the-right .wp-block-media-text__media {
		-ms-grid-row: 1;
		grid-row: 1;
	}
}

@media (max-width: 599px) {
	.wp-block {
		max-width: calc(100% - 28px);
	}
}
