//Default property value
$base_font_falily: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Hiragino Sans", "Noto Sans CJK JP", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
$base_code_font_family: consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", monaco, "Courier New", courier, monospace;
$base_font_size_sp: 14px;
$base_font_size_pc: 16px;
$base_line_height: 1.7;
$base_letter_spacing: 0.04em;
$base_transition_duration: 0.2s;
$base_border_radius: 8px;
$base_hover_opacity: 0.7;
$base_placeholder_opacity: 0.7;

$text_color_thin: 0.8;
$container_width: 1400px;
$container_padding: 5vw;

// Media Query
$breakpoints: (
	"sm-max": "screen and (max-width: 559px)",
	"md-max": "screen and (max-width: 959px)",
	"md-min": "screen and (min-width: 560px)",
	"lg-min": "screen and (min-width: 960px)",
) !default;

// Neumorphic styles box shadow value
$nm_shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
$nm_shadow_light: 2px 2px 5px var(--color-nm-dark), -2px -2px 5px var(--color-nm-light);
$nm_shadow_acitve: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
$nm_shadow_reverse: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
$nm_shadow_text: 1px 1px 0 var(--color-text-border-color);

