/*----------------------
# Categories
----------------------*/

.wp-block-categories {

	&.wp-block-categories-list {
		padding-left: 1.5em;
	}

	&.wp-block-categories-dropdown {
		margin-bottom: 2em;

		select {

			@include nm-input;
			display: inline-block;
			width: auto;
			border-radius: 1000px;
		}
	}

	ul {
		margin-left: 0;
		padding: 0;
		list-style: none;

		li {
			position: relative;
			padding-left: 1em;

			&::before {
				position: absolute;
				left: 0;
				content: "-";
			}
		}
	}
}
