/*----------------------
# Code
----------------------*/

.wp-block-code {

	@include nm-reverse;
	margin-bottom: 2em;
	padding: 2em;
	border-radius: $base_border_radius;

	code {
		display: block;
		padding: 0;
		background: transparent;
	}
}
