/*----------------------
# Cover
----------------------*/

.wp-block-cover {
	min-height: 200px;
	margin-bottom: 2em;
	padding: 2em 3em;
	overflow: hidden;

	&.is-style-nm {

		@include nm;
		border-radius: $base_border_radius;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
		border-radius: $base_border_radius;
	}

	.wp-block-cover__inner-container {
		width: 100%;

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			text-shadow: none;
		}

		h1,
		h2,
		h3 {
			padding-bottom: 0;

			&::before {
				content: none;
			}
		}
	}

	&.aligncenter,
	&.alignleft,
	&.alignright {
		max-width: 300px;

		@include mq(md-max) {
			max-width: 100%;
		}
	}
}
