/*------------------------------------------
# Embeds
------------------------------------------*/

.wp-block-embed {
	margin-bottom: 2em;

	blockquote {
		padding: 0;
		box-shadow: none;

		&::before {
			content: none;
		}
	}

	figcaption {
		text-align: center;
	}

	&.alignleft,
	&.alignright {
		max-width: 500px;
	}

	// You Tube
	&-youtube iframe {

		@include nm-media;
	}

	// Facebook
	&-facebook {
		max-width: 500px;

		.fb_iframe_widget {
			width: 100% !important;

			> span {
				width: 100% !important;
			}
		}

		iframe {

			@include nm-media;
		}
	}

	// Instagram
	&-instagram {
		max-width: 500px;

		iframe {
			padding: 5px !important;
			border: none !important;
			border-radius: 8px !important;
			box-shadow: $nm_shadow_reverse !important;
		}

		.aligncenter iframe {
			margin-right: auto !important;
			margin-left: auto !important;
		}
	}

	// Twitter
	&-twitter {
		max-width: 500px;

		.twitter-tweet {

			@include nm-media;
		}

		.aligncenter .twitter-tweet {
			margin-right: auto;
			margin-left: auto;
		}
	}
}
