/*----------------------
# Group
----------------------*/

.wp-block-group {
	margin-bottom: 2em;

	&.has-background {
		padding: 1.5em 1.5em 2em;
	}

	&.is-style-nm {

		@include nm;
		padding: 1.5em 1.5em 2em;
		border-radius: $base_border_radius;
	}

	&.is-style-nm-reverse {

		@include nm-reverse;
		padding: 1.5em 1.5em 2em;
		border-radius: $base_border_radius;
	}

	&__inner-container {

		> *:first-child {
			margin-top: 0 !important;
		}

		> *:last-child {
			margin-bottom: 0 !important;
		}
	}
}
