/*----------------------
# Pullquote
----------------------*/

.wp-block-pullquote {
	margin-right: auto;
	margin-bottom: 2em;
	margin-left: auto;
	padding: 0;
	color: var(--color-text-main);
	text-align: inherit;

	blockquote {
		margin: 0;
		padding: 0;
		border-radius: 0;
		box-shadow: none;

		&::before {
			content: none;
		}

		p {
			margin: 0 0 1em;
			font-size: inherit;
		}

		cite {
			display: block;
			font-size: 0.8em;
			opacity: $text_color_thin;
		}
	}

	&:not(.is-style-solid-color) {

		@include nm-reverse();
		padding: 2em;
		border-color: var(--color-text-main);
		border-radius: $base_border_radius;

		blockquote {
			padding: 1em 0;
			border-color: inherit !important;
			border-top: 3px solid;
			border-bottom: 3px solid;
		}
	}

	&.is-style-solid-color {

		&.alignleft,
		&.alignright {
			margin-top: 10px;
		}

		blockquote {
			max-width: 100%;

			p {
				margin-bottom: 1em;
				font-size: 1.4em;
			}

			cite {
				font-size: 1em;
				font-style: italic;
			}
		}

		&.has-background blockquote {
			padding: 2em;
			background-color: transparent;
		}

		&:not(.has-background) blockquote {
			padding: 0;
		}
	}
}
