/*----------------------
# Table
----------------------*/

.wp-block-table {
	overflow-x: initial;

	&.aligncenter table {
		margin-right: auto;
		margin-left: auto;
	}

	&.is-style-stripes {
		border-bottom: none;

		th,
		td {
			border-color: var(--color-nm-dark);
		}

		tbody tr:nth-child(odd) {
			background-color: var(--color-nm-light);
		}
	}
}
