/*------------------------------------------
# Block Settings
------------------------------------------*/

/*----------------------
## Color
----------------------*/

.has-bg-color {
	color: var(--color-bg) !important;
}

.has-dark-color {
	color: var(--color-nm-dark) !important;
}

.has-light-color {
	color: var(--color-nm-light) !important;
}

.has-main-text-color {
	color: var(--color-text-main) !important;
}

.has-accent-color {
	color: var(--color-accent) !important;
}

.has-link-text-color {
	color: var(--color-text-link) !important;
}

.has-white-color {
	color: #fff !important;
}

/*----------------------
## Background color
----------------------*/

.has-bg-background-color {
	background-color: var(--color-bg) !important;
}

.has-dark-background-color {
	background-color: var(--color-nm-dark) !important;
}

.has-light-background-color {
	background-color: var(--color-nm-light) !important;
}

.has-main-text-background-color {
	background-color: var(--color-text-main) !important;
}

.has-accent-background-color {
	background-color: var(--color-accent) !important;
}

.has-link-text-background-color {
	background-color: var(--color-text-link) !important;
}

.has-white-background-color {
	background-color: #fff !important;
}

/*----------------------
## Background color (Table)
----------------------*/

.has-subtle-light-gray-background-color {
	background-color: #f3f4f5;
}

.has-subtle-pale-green-background-color {
	background-color: #e9fbe5;
}

.has-subtle-pale-blue-background-color {
	background-color: #e7f5fe;
}

.has-subtle-plae-pink-background-color {
	background-color: #fcf0ef;
}

/*----------------------
## Gradient color
----------------------*/

.has-dark-light-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-nm-light)) !important;
}

.has-dark-text-main-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-text-main)) !important;
}

.has-dark-accent-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-accent)) !important;
}

.has-dark-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-text-link)) !important;
}

.has-light-main-text-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-light), var(--color-text-main)) !important;
}

.has-light-accent-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-light), var(--color-accent)) !important;
}

.has-light-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-light), var(--color-text-link)) !important;
}

.has-main-text-accent-gradient-background {
	background: linear-gradient(135deg, var(--color-text-main), var(--color-accent)) !important;
}

.has-main-text-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-text-main), var(--color-text-link)) !important;
}

.has-accent-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-accent), var(--color-text-link)) !important;
}

/*----------------------
## Font Size
----------------------*/

.has-small-font-size {
	font-size: 0.8em;
}

.has-medium-font-size {
	font-size: 1.2em;
}

.has-large-font-size {
	font-size: 1.6em;
}

.has-huge-font-size {
	font-size: 2em;
}
