/*----------------------
# Tag Cloud
----------------------*/

.wp-block-tag-cloud {
	margin-bottom: 2em;

	@include mq(md-max) {
		text-align: center;
	}

	a {

		@include nm-button;
		display: inline-block;
		margin: 0 0.2em 1em;
		padding: 0.3em 1em;
		color: var(--color-accent);
		font-size: 1em !important;
		border-radius: 1000px;

		.tag-link-count {
			color: var(--color-text-main);
			opacity: $text_color_thin;
		}
	}
}
