/*----------------------
# Buttons
----------------------*/

.wp-block-button {
	margin: 0 10px 20px;
	color: inherit;

	&:not(.has-text-color):not(.is-style-outline) [data-rich-text-placeholder]::after {
		color: inherit;
	}

	&__link {
		position: relative;
		padding: 0.5em 1.5em;
		font-weight: bold;
		font-size: 1.1em;
		border-radius: 1000px;

		&:not(.has-background) {
			background-color: transparent;
		}

		&::before {

			@include nm;
			position: absolute;
			top: -3px;
			right: -3px;
			bottom: -3px;
			left: -3px;
			border-radius: inherit;
			content: "";
		}
	}
}
