/*----------------------
# Media & Text
----------------------*/

.wp-block-media-text {

	.wp-block-media-text__media {
		text-align: center;

		img,
		video {

			@include nm-media;
			max-width: 100%;
		}
	}

	.wp-block-media-text__content {
		padding: 0 0 0 2em;

		.block-editor-block-list__block {

			&:first-child {
				margin-top: 0 !important;
			}

			&:nth-last-child(2) {
				margin-bottom: 0 !important;
			}
		}
	}

	&.has-media-on-the-right .wp-block-media-text__content {
		padding: 0 2em 0 0;
	}

	&.has-background {
		padding: 1.5em 1em;
	}

	&.is-style-nm {

		@include nm;
		padding: 1.5em 1em;
		border-radius: $base_border_radius;
	}

	@media screen and (max-width: 959px) {

		&.is-stacked-on-mobile {

			> .wp-block-media-text__media {
				margin-bottom: 2em;

				> img,
				> video {
					width: auto;
				}
			}

			&.has-media-on-the-right {

				.wp-block-media-text__content {
					grid-row: 2;
				}

				.wp-block-media-text__media {
					grid-row: 1;
				}
			}
		}
	}
}
