/*------------------------------------------
# Block Settings
------------------------------------------*/

/*----------------------
## Color
----------------------*/

.has-bg-color {
	color: var(--color-bg);
}

.has-dark-color {
	color: var(--color-nm-dark);
}

.has-light-color {
	color: var(--color-nm-light);
}

.has-main-text-color {
	color: var(--color-text-main);
}

.has-accent-color {
	color: var(--color-accent);
}

.has-link-text-color {
	color: var(--color-text-link);
}

.has-white-color {
	color: #fff;
}

/*----------------------
## Gradient color
----------------------*/

.has-dark-light-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-nm-light)) !important;
}

.has-dark-text-main-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-text-main)) !important;
}

.has-dark-accent-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-accent)) !important;
}

.has-dark-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-dark), var(--color-text-link)) !important;
}

.has-light-main-text-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-light), var(--color-text-main)) !important;
}

.has-light-accent-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-light), var(--color-accent)) !important;
}

.has-light-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-nm-light), var(--color-text-link)) !important;
}

.has-main-text-accent-gradient-background {
	background: linear-gradient(135deg, var(--color-text-main), var(--color-accent)) !important;
}

.has-main-text-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-text-main), var(--color-text-link)) !important;
}

.has-accent-link-text-gradient-background {
	background: linear-gradient(135deg, var(--color-accent), var(--color-text-link)) !important;
}

