/*----------------------
# Table
----------------------*/


.wp-block-table {
	overflow-x: initial;

	table {

		@include nm;
		width: auto;
		margin-bottom: 0.5em;
		overflow: hidden;
		border-radius: $base_border_radius;

	}

	th,
	td {
		padding: 1em;
		text-align: left;
		border: none;
		border-right: 1px solid var(--color-nm-dark);
		border-bottom: 1px solid var(--color-nm-dark);

		&:last-child {
			border-right: none;
		}
	}

	thead th {
		text-align: left;
		border-bottom-width: 2px;
	}

	tbody tr:last-child td {
		border-bottom: none;
	}

	tfoot td {
		border-top: 2px solid var(--color-nm-dark);
		border-bottom: none;
	}

	figcaption {
		text-align: inherit;
	}

	&.is-style-stripes {
		border-bottom: none;

		tbody tr:nth-child(odd) {
			background-color: var(--color-nm-light);
		}
	}
}

.wp-block[data-align="center"] > .wp-block-table {
	text-align: inherit;
}
