/*----------------------
# Video
----------------------*/

.wp-block-video {

	video {

		@include nm-media;
		display: block;
	}

	figcaption {
		text-align: inherit;
	}
}

.wp-block[data-align="center"] > .wp-block-video video {
	margin-right: auto;
	margin-left: auto;
}
