/*--------------------------------------------------------------
# Classic editor styles
--------------------------------------------------------------*/

body#tinymce.wp-editor.content {
	color: var(--color-text-main);
	font-size: 16px;
	font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Hiragino Sans", "Noto Sans CJK JP", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Sans Emoji";
	line-height: 1.7;
	letter-spacing: 0.04em;
	word-break: break-word;
	background: var(--color-bg); /* Heading */ /* List */
}

body#tinymce.wp-editor.content *,
body#tinymce.wp-editor.content *::before,
body#tinymce.wp-editor.content *::after {
	box-sizing: border-box;
}

body#tinymce.wp-editor.content a {
	color: var(--color-text-link);
}

body#tinymce.wp-editor.content > * {
	max-width: 100%;
	margin: 0 0 2em;
}

body#tinymce.wp-editor.content > :first-child {
	margin-top: 0 !important;
}

body#tinymce.wp-editor.content > :last-child {
	margin-bottom: 0 !important;
}

body#tinymce.wp-editor.content .gallery {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0;
}

body#tinymce.wp-editor.content .gallery.gallery-columns-2 .gallery-item {
	width: 50%;
}

body#tinymce.wp-editor.content .gallery.gallery-columns-3 .gallery-item {
	width: 33.33333%;
}

body#tinymce.wp-editor.content .gallery.gallery-columns-4 .gallery-item {
	width: 25%;
}

body#tinymce.wp-editor.content .gallery.gallery-columns-5 .gallery-item {
	width: 20%;
}

body#tinymce.wp-editor.content .gallery.gallery-columns-6 .gallery-item {
	width: 16.66667%;
}

body#tinymce.wp-editor.content .gallery.gallery-columns-7 .gallery-item {
	width: 14.28571%;
}

body#tinymce.wp-editor.content .gallery.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

body#tinymce.wp-editor.content .gallery.gallery-columns-9 .gallery-item {
	width: 11.11111%;
}

body#tinymce.wp-editor.content .gallery-item {
	margin: 0 0 10px;
	padding: 0 5px;
}

body#tinymce.wp-editor.content .gallery-icon img {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 5px;
	border-radius: 8px;
	width: 100%;
}

body#tinymce.wp-editor.content .gallery-icon img:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

body#tinymce.wp-editor.content .gallery-icon img:hover,
body#tinymce.wp-editor.content .gallery-icon img:active {
	text-decoration: none;
	outline: none;
}

body#tinymce.wp-editor.content .gallery-icon img:focus {
	text-decoration: none;
}

body#tinymce.wp-editor.content .gallery-icon a {
	display: inline-block;
}

body#tinymce.wp-editor.content .gallery-caption {
	margin-top: 0.5em;
	color: inherit;
	font-size: 0.8em;
	text-align: center;
	opacity: 0.8;
}

body#tinymce.wp-editor.content .has-text-align-left {
	text-align: left;
}

body#tinymce.wp-editor.content .has-text-align-right {
	text-align: right;
}

body#tinymce.wp-editor.content .has-text-align-center {
	text-align: center;
}

body#tinymce.wp-editor.content .alignleft {
	float: left;
	margin-right: 1.5em;
	margin-bottom: 0.5em;
}

body#tinymce.wp-editor.content .align-right {
	float: right;
	margin-bottom: 0.5em;
	margin-left: 1.5em;
}

body#tinymce.wp-editor.content .align-center {
	display: block;
	margin: 0 auto 2em;
	text-align: center;
}

body#tinymce.wp-editor.content h1,
body#tinymce.wp-editor.content h2,
body#tinymce.wp-editor.content h3,
body#tinymce.wp-editor.content h4,
body#tinymce.wp-editor.content h5,
body#tinymce.wp-editor.content h6 {
	margin-top: 1.5em;
	margin-bottom: 1em;
	font-weight: bold;
	line-height: 1.4;
	text-shadow: 1px 1px 0 var(--color-text-border-color);
}

body#tinymce.wp-editor.content h1,
body#tinymce.wp-editor.content h2 {
	position: relative;
	padding-bottom: 0.2em;
}

body#tinymce.wp-editor.content h1::before,
body#tinymce.wp-editor.content h2::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 1000px;
	box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
	content: "";
}

body#tinymce.wp-editor.content h1 {
	font-size: 2em;
}

body#tinymce.wp-editor.content h2 {
	font-size: 1.8em;
}

body#tinymce.wp-editor.content h3 {
	font-size: 1.6em;
}

body#tinymce.wp-editor.content h4 {
	font-size: 1.4em;
}

body#tinymce.wp-editor.content h5 {
	font-size: 1.2em;
}

body#tinymce.wp-editor.content h6 {
	font-size: 1em;
}

body#tinymce.wp-editor.content ul,
body#tinymce.wp-editor.content ol {
	margin: 0 0 2em;
	padding-left: 1.5em;
}

body#tinymce.wp-editor.content ul li,
body#tinymce.wp-editor.content ol li {
	margin: 0.5em 0;
}

body#tinymce.wp-editor.content ul ul,
body#tinymce.wp-editor.content ol ul {
	margin-left: 0;
	padding: 0;
	list-style: none;
}

body#tinymce.wp-editor.content ul ul li,
body#tinymce.wp-editor.content ol ul li {
	position: relative;
	padding-left: 1em;
}

body#tinymce.wp-editor.content ul ul li::before,
body#tinymce.wp-editor.content ol ul li::before {
	position: absolute;
	left: 0;
	content: "-";
}

body#tinymce.wp-editor.content ul ol,
body#tinymce.wp-editor.content ol ol {
	padding-left: 1.5em;
}

body#tinymce.wp-editor.content code {
	padding: 0.1em 0.3em;
	color: var(--color-text-main);
	font-size: 0.9em;
	font-family: consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", monaco, "Courier New", courier, monospace;
	background: var(--color-nm-dark);
	border-radius: 4px;
}

body#tinymce.wp-editor.content q {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	position: relative;
	padding: 0.3em 0.5em;
	color: var(--color-text-main);
	border: none;
	border-radius: 4px;
}

body#tinymce.wp-editor.content q:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

body#tinymce.wp-editor.content q:hover,
body#tinymce.wp-editor.content q:active {
	text-decoration: none;
	outline: none;
}

body#tinymce.wp-editor.content q:focus {
	text-decoration: none;
}

body#tinymce.wp-editor.content blockquote {
	position: relative;
	padding: 2em 2em 2em 3.5em;
	color: var(--color-text-main);
	border: none;
	border-radius: 8px;
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
}

body#tinymce.wp-editor.content blockquote:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

body#tinymce.wp-editor.content blockquote:hover,
body#tinymce.wp-editor.content blockquote:active {
	text-decoration: none;
	outline: none;
}

body#tinymce.wp-editor.content blockquote:focus {
	text-decoration: none;
}

body#tinymce.wp-editor.content blockquote::before {
	text-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	position: absolute;
	top: 0.5em;
	left: 0.7em;
	font-weight: 900;
	font-size: 1.6em;
	font-family: "Font Awesome 5 Free";
	content: "\f10d";
}

body#tinymce.wp-editor.content blockquote p {
	margin: 0 0 1em;
}

body#tinymce.wp-editor.content blockquote p:last-of-type {
	margin-bottom: 0;
}

body#tinymce.wp-editor.content blockquote cite {
	display: block;
	margin-top: 1em;
	color: inherit;
	font-size: 0.8em;
	font-style: italic;
	opacity: 0.8;
}

body#tinymce.wp-editor.content img {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	padding: 5px;
	border-radius: 8px;
}

body#tinymce.wp-editor.content img:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

body#tinymce.wp-editor.content img:hover,
body#tinymce.wp-editor.content img:active {
	text-decoration: none;
	outline: none;
}

body#tinymce.wp-editor.content img:focus {
	text-decoration: none;
}

body#tinymce.wp-editor.content figcaption {
	margin-top: 0.5em;
	margin-bottom: 0;
	font-size: 0.8em;
	opacity: 0.8;
}

body#tinymce.wp-editor.content table {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: 5px 5px 10px var(--color-nm-dark), -5px -5px 10px var(--color-nm-light);
	width: auto;
	margin-bottom: 0.5em;
	border-radius: 8px;
}

body#tinymce.wp-editor.content table:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

body#tinymce.wp-editor.content table:hover,
body#tinymce.wp-editor.content table:active {
	text-decoration: none;
	outline: none;
}

body#tinymce.wp-editor.content table:focus {
	text-decoration: none;
}

body#tinymce.wp-editor.content table th,
body#tinymce.wp-editor.content table td {
	padding: 1em;
	text-align: left;
	border-right: 1px solid var(--color-nm-dark);
	border-bottom: 1px solid var(--color-nm-dark);
}

body#tinymce.wp-editor.content table th:last-child,
body#tinymce.wp-editor.content table td:last-child {
	border-right: none;
}

body#tinymce.wp-editor.content table thead th {
	border-bottom-width: 3px;
}

body#tinymce.wp-editor.content table tbody tr:last-child th,
body#tinymce.wp-editor.content table tbody tr:last-child td {
	border-bottom: none;
}

body#tinymce.wp-editor.content table tfoot td {
	border-top: 3px solid var(--color-nm-dark);
	border-bottom: none;
}

body#tinymce.wp-editor.content table figcaption {
	margin-top: 1em;
	font-size: 0.9em;
	text-align: center;
}

body#tinymce.wp-editor.content dl dt {
	font-weight: bold;
}

body#tinymce.wp-editor.content dl dd {
	margin: 0;
}

body#tinymce.wp-editor.content dl dd:not(:last-of-type) {
	margin-bottom: 1em;
}

body#tinymce.wp-editor.content hr {
	position: relative;
	width: 50%;
	height: 3px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px 0;
	border: none;
	transform: translateY(-6px);
}

body#tinymce.wp-editor.content hr::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	border-radius: 1000px;
	box-shadow: inset 1px 1px 2px var(--color-nm-dark), inset -1px -1px 2px var(--color-nm-light);
	content: "";
}

body#tinymce.wp-editor.content pre {
	font-family: inherit;
}

@media screen and (min-width: 960px) {
	body#tinymce.wp-editor.content .gallery-icon a {
		position: relative;
	}

	body#tinymce.wp-editor.content .gallery-icon a::before {
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 1;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		background: rgba(0, 0, 0, 0.3);
		border-radius: 4px;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
		content: "";
	}

	body#tinymce.wp-editor.content .gallery-icon a:hover::before {
		opacity: 1;
	}
}
