/*--------------------------------------------------------------
# WordPress media player styles
--------------------------------------------------------------*/

.mejs-container.mejs-audio {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	background: transparent;
	border-radius: 1000px;
}

.mejs-container.mejs-audio:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.mejs-container.mejs-audio:hover,
.mejs-container.mejs-audio:active {
	text-decoration: none;
	outline: none;
}

.mejs-container.mejs-audio:focus {
	text-decoration: none;
}

.mejs-container.mejs-audio .mejs-mediaelement {
	top: 5px;
	left: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	background: var(--color-nm-dark);
	border-radius: 1000px;
}

.mejs-container.mejs-audio .mejs-controls {
	background: transparent;
}

.mejs-container.mejs-audio .mejs-controls .mejs-time-rail .mejs-time-current {
	background: var(--color-accent);
}

.mejs-container.mejs-video {
	text-decoration: none;
	border: none;
	transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: inset 3px 3px 6px var(--color-nm-dark), inset -6px -6px 12px var(--color-nm-light);
	overflow: hidden;
	background: transparent;
	border-radius: 8px;
}

.mejs-container.mejs-video:not(.has-background):not(.has-background-dim) {
	background-color: var(--color-bg);
}

.mejs-container.mejs-video:hover,
.mejs-container.mejs-video:active {
	text-decoration: none;
	outline: none;
}

.mejs-container.mejs-video:focus {
	text-decoration: none;
}

.mejs-container.mejs-video .mejs-mediaelement {
	top: 5px;
	left: 5px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	overflow: hidden;
	border-radius: 10px;
}

.mejs-container.mejs-video .mejs-controls {
	background: transparent;
}

.mejs-container.mejs-video .mejs-controls .mejs-time-rail .mejs-time-current {
	background: var(--color-accent);
}
