/*----------------------
# Archives
----------------------*/

.wp-block-archives-dropdown select {

	&:active,
	&:focus,
	&:disabled {

		@include nm-input-editor;
		padding: 0.7em 3em 0.7em 1.4em;
		font-size: inherit;
		font-family: $base_font_falily;
		line-height: inherit;
		text-shadow: none;
		background: url(../images/chevron-down-solid.svg) no-repeat right 20px center/1em;
		border-radius: 1000px;
	}
}

ul.wp-block-archives {
	margin-left: 0;
	padding-left: 1.5em;
}
