/*----------------------
# Code
----------------------*/

.wp-block-code {

	@include nm-reverse;
	padding: 2em;
	border-radius: $base_border_radius;

	.block-editor-plain-text,
	code {
		background: transparent;
	}
}
