/*----------------------
# Custom HTML
----------------------*/

.wp-block-html .block-editor-plain-text {
	color: inherit;
	font-size: 0.9em;
	font-family: $base_code_font_family;
	background: var(--color-nm-dark);
}
