/*----------------------
# Page Break
----------------------*/

.wp-block-nextpage {

	&::before {
		border-top: 3px var(--color-accent) solid;
	}

	> span {
		min-height: 30px;
		color: var(--color-accent);
		font-family: inherit;
		line-height: normal;
		background: var(--color-nm-light);
	}
}
