/*--------------------------------------------------------------
# Component
--------------------------------------------------------------*/

/*------------------------------------------
## Global menu
------------------------------------------*/

.c-gnav {

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		position: relative;
		list-style: none;

		> a {
			display: block;
			padding: 0.5em 0.8em;
			text-align: center;
			transition: color $base_transition_duration ease-in-out;

			@include mq(lg-min) {

				&:hover {
					color: var(--color-accent);
					text-decoration: none;
				}
			}
		}

		> .c-gnav__submenu {
			position: absolute;
			top: 100%;
			left: 50%;
			z-index: 5;
			width: 14em;
			padding: 0;
			text-align: left;
			list-style: none;
			background: var(--color-nm-dark);
			transform: translateX(-50%);
			visibility: hidden;
			opacity: 0;
			transition: opacity $base_transition_duration ease-in-out;

			&[aria-hidden="false"] {
				visibility: visible;
				opacity: 1;
			}

			&::before {
				position: absolute;
				top: -10px;
				left: calc(50% - 8px);
				display: block;
				width: 0;
				height: 0;
				border-color: transparent transparent var(--color-nm-dark);
				border-style: solid;
				border-width: 0 8px 10px;
				content: "";
			}
		}
	}

	&__subitem {
		list-style: none;

		> a {
			display: block;
			padding: 0.5em 1em;
			color: inherit;
			font-weight: normal;
			line-height: 1.4;
			transition: background $base_transition_duration ease-in-out;

			@include mq(lg-min) {

				&:hover {
					text-decoration: none;
					background: var(--color-nm-light);
				}
			}
		}

		> .c-gnav__submenu {
			padding-left: 1em;
		}
	}
}

/*------------------------------------------
## Entry area
------------------------------------------*/

.c-entry {

	&__header {

		@include nm-border;
		position: relative;
		margin-bottom: 4em;
		padding-bottom: 1em;
	}

	&__title {

		@include nm-text-border;
		margin: 0;
		font-weight: bold;
		font-size: 2em;
		line-height: 1.4;

		@include mq(lg-min) {
			font-size: 2.2em;
		}

		i {
			margin-right: 0.5em;
			font-size: 0.7em;
		}
	}

	&__thumbnail {
		margin-bottom: 4em;
		text-align: center;

		img {

			@include nm-media;
		}
	}

	&__edit {
		margin-top: 3em;
		text-align: center;
	}

	&__edit-link {

		@include nm-button;
		display: inline-block;
		padding: 0.7em 1.4em;
		color: var(--color-accent);
		font-size: 0.8em;
		border-radius: 1000px;
	}

	&__post-nav .nav-links {

		@include clearfix;
		margin-top: 4em;

		.nav-previous,
		.nav-next {
			position: relative;
			max-width: 40%;
			overflow: hidden;
			color: var(--color-text-link);
			white-space: nowrap;
			text-overflow: ellipsis;

			@include mq(md-max) {
				max-width: 100%;
				margin: 0.2em 0;
			}

			&::before {
				position: absolute;
				top: 0.05em;
				font-weight: 900;
				font-family: "Font Awesome 5 Free";
			}
		}

		.nav-previous {
			float: left;
			padding-left: 1.5em;

			&::before {
				left: 0;
				content: "\f100";
			}
		}

		.nav-next {
			float: right;
			padding-right: 1.5em;

			&::before {
				right: 0;
				content: "\f101";
			}
		}
	}

	.c-tag {
		margin-top: 4em;
	}
}

/*------------------------------------------
## Archive post area
------------------------------------------*/

.c-entries {

	@include mq(md-min) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@include mq(lg-min) {
		display: block;
	}

	&__item {

		@include mq(md-min) {
			width: calc(50% - #{$container_padding / 2});
		}

		@include mq(lg-min) {
			width: 100%;
		}

		&.sticky {
			font-size: 1.3em;
		}

		&:not(:last-child) {
			margin-bottom: 1.5em;
		}

		> a {

			@include nm-link;
			display: block;
			height: 100%;
			padding: 1em;
			color: inherit;
			text-decoration: none;
			border-radius: $base_border_radius;
		}
	}

	&__thumbnail {

		position: relative;
		margin: 0 0 1em;
		overflow: hidden;

		@include mq(lg-min) {
			float: left;
			width: 30%;
			margin: 0 1em 0 0;
		}

		&::before {
			display: block;
			padding-top: 62%;
			content: "";
		}

		img {

			@include nm-media;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&--noimage {
			display: flex;
			align-items: center;
			justify-content: center;
			background: var(--color-nm-dark);

			i {
				font-size: 18vw;
				transition: transform $base_transition_duration ease-in-out;

				@include mq(md-min) {
					font-size: 3em;
				}
			}
		}
	}

	&__body {
		overflow: hidden;
	}

	&__header {
		margin: -0.3em 0 0.5em;
	}

	&__title {
		margin: 0;
		font-weight: bold;
		font-size: 1.2em;
		line-height: 1.4;
	}
}

/*------------------------------------------
## Attachment file area
------------------------------------------*/

.c-attachment {

	&__image {
		text-align: center;
	}

	figcaption {
		margin: 2em 0 0;

		p {
			margin: 0;
		}
	}
}

/*------------------------------------------
## Comment area
------------------------------------------*/

.c-comment {

	@include nm;
	margin-top: 5em;
	padding: 1.5em;
	border-radius: 10px;

	&__title {

		@include nm-border;
		@include nm-text-border;
		position: relative;
		margin: 0;
		padding-bottom: 0.5em;
		font-size: 1.4em;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		.comment-body {

			@include nm-border;
			padding: 1.5em 0;

			+ .comment-respond {

				@include nm-border;
				padding-bottom: 2em;
			}
		}

		.children {
			margin: 0;
			padding: 0 0 0 2em;
			list-style: none;
		}

		.comment-meta {
			margin-bottom: 1em;
		}

		.bypostauthor .comment-meta {
			padding: 1em;
			background-color: var(--color-nm-light);
			border-radius: $base_border_radius;
		}

		.comment-author {
			position: relative;
			display: flex;
			margin-bottom: 15px;

			.avatar {

				@include nm;
				position: relative;
				top: -6px;
				width: 40px;
				height: 40px;
				margin-right: 1em;
				border-radius: 50%;
			}

			.fn {
				font-weight: normal;

				a {
					color: inherit;
				}
			}
		}

		.comment-metadata {
			font-size: 0.8em;

			> a {
				color: inherit;
			}

			time {

				&::before {
					margin-right: 0.2em;
					font-weight: 400;
					font-family: "Font Awesome 5 Free";
					content: "\f017";
				}
			}

			.edit-link {
				margin-left: 1em;
			}
		}

		.comment-content {

			p {
				margin: 0;
			}

			img {

				@include nm-media;
			}
		}

		.reply {
			margin-top: 1em;

			a {

				@include nm-button;
				padding: 0.3em 1em;
				color: var(--color-accent);
				border-radius: 1000px;
			}
		}
	}

	&__nav {

		@include nm-border;
		padding: 1em 0;

		.nav-links {

			@include clearfix;

			.nav-previous,
			.nav-next {
				position: relative;
				max-width: 40%;
				overflow: hidden;
				color: var(--color-text-link);
				white-space: nowrap;
				text-overflow: ellipsis;

				@include mq(md-max) {
					max-width: 100%;
					margin: 0.2em 0;
				}

				&::before {
					position: absolute;
					top: 0.05em;
					font-weight: 900;
					font-family: "Font Awesome 5 Free";
				}
			}

			.nav-previous {
				float: left;
				padding-left: 1.5em;

				&::before {
					left: 0;
					content: "\f100";
				}
			}

			.nav-next {
				float: right;
				padding-right: 1.5em;

				&::before {
					right: 0;
					content: "\f101";
				}
			}
		}
	}

	.comment-respond {
		margin-top: 2em;
	}

	.comment-reply-title {

		@include nm-text-border;
		margin: 0 0 1em;
		font-size: 1.4em;

		#cancel-comment-reply-link {
			margin-left: 1em;
			font-weight: normal;
			font-size: 0.8em;
		}

		a {
			text-shadow: none;
		}
	}

	.comment-form {

		.comment-notes {
			margin: 0 0 1em;
		}

		.comment-form-comment {
			margin: 0 0 2em;

			label {
				display: block;
				margin-bottom: 0.5em;
				font-weight: bold;
			}
		}

		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			margin: 0 0 1em;

			label {
				display: block;
				margin-bottom: 0.5em;
				font-weight: bold;

				.required {
					color: var(--color-text-link);
					font-weight: bold;
				}
			}
		}

		.comment-form-cookies-consent {
			margin: 1em 0;
		}

		.form-submit [type="submit"] {

			@include nm-button;
			color: var(--color-accent);
		}
	}
}

/*------------------------------------------
## Meta info
------------------------------------------*/

.c-meta {
	margin-top: 0.5em;

	&__list {
		display: flex;
		margin: 0;
		padding: 0;
		font-size: 0.8em;
		list-style-type: none;
	}

	&__item {

		&:not(:last-child) {
			margin-right: 1em;
		}

		&--published,
		&--modified {
			white-space: nowrap;
		}

		&--categories {
			position: relative;
			padding-left: 1.5em;

			&::before {
				position: absolute;
				left: 0;
				font-weight: 900;
				font-family: "Font Awesome 5 Free";
				content: "\f07b";
			}

			a {
				color: inherit;
			}
		}
	}
}

/*------------------------------------------
## Tags
------------------------------------------*/

.c-tag {
	position: relative;
	padding-left: 1.5em;

	&::before {
		position: absolute;
		left: 0;
		font-weight: 900;
		font-family: "Font Awesome 5 Free";
		content: "\f02c";
	}

	a {

		@include nm-button;
		display: inline-block;
		margin: 0 0.2em 1em;
		padding: 0.3em 1em;
		color: var(--color-accent);
		font-size: 0.8em;
		border-radius: 1000px;
	}
}

/*------------------------------------------
## SNS button
------------------------------------------*/

.c-sns {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	padding: 0;
	font-size: 1.3em;
	list-style: none;

	&__item {
		margin: 0 0.3em 0.6em;

		a {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 2em;
			height: 2em;
			color: #fff;
			background-color: var(--color-accent);
			border-radius: 50%;

			.fa-line {
				font-size: 1.2em;
			}

			&::before {

				@include nm;
				position: absolute;
				top: -3px;
				right: -3px;
				bottom: -3px;
				left: -3px;
				border-radius: inherit;
				content: "";
			}

			&:hover {
				text-decoration: none;

				&::before {

					@include nm-light;
				}
			}

			&:active::before {

				@include nm-active;
			}
		}

		&--wordpress a {
			background-color: #3499cd;
		}

		&--facebook a {
			background-color: #1977f2;
		}

		&--instagram a {
			background-color: #f00075;
		}

		&--twitter a {
			background-color: #21a1f3;
		}

		&--youtube a {
			background-color: #ff0100;
		}

		&--amazon a {
			background-color: #f90;
		}

		&--github a {
			background-color: #24292d;
		}

		&--line a {
			background-color: #00b900;
		}

		&--pinterest a {
			background-color: #e60122;
		}

		&--linkedin a {
			background-color: #0577b5;
		}
	}
}

/*------------------------------------------
## Search form
------------------------------------------*/

.c-search-form {

	&__inner {
		position: relative;
	}

	&__input {
		width: 100%;
		padding-right: 3em;
	}

	&__btn {
		position: absolute;
		top: 50%;
		right: 0.5em;
		width: 2em;
		height: 2em;
		padding: 0;
		color: var(--color-accent);
		transform: translateY(-50%);
		transition: opacity $base_transition_duration ease-in-out;

		@include mq(lg-min) {

			&:hover {
				opacity: $base_hover_opacity;
			}
		}
	}
}

/*------------------------------------------
## Pagination
------------------------------------------*/

.c-pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 4em;

	.nav-links {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.page-numbers,
	.post-page-numbers {

		display: flex;
		align-items: center;
		justify-content: center;
		width: 2.5em;
		height: 2.5em;
		margin: 0 0.3em 0.6em;
		color: var(--color-accent);
		font-weight: bold;

		&:not(.dots) {

			@include nm-button;
			color: var(--color-accent);
			text-decoration: none;
			border-radius: 50%;
		}

		&.current {

			@include nm-light;
			color: inherit;
		}

		@include mq(lg-min) {

			&:hover {
				text-decoration: none;
			}
		}
	}
}
