/*--------------------------------------------------------------
# Contents
--------------------------------------------------------------*/

.contents {
	padding: 10px 0;
	overflow: hidden;

	@include mq(lg-min) {
		margin-bottom: 4em;
	}

	&__inner {

		@include mq(lg-min) {
			display: flex;
			justify-content: space-between;
		}

		.main {
			display: block;
			width: 100%;
		}
	}

	&--sidebar-right,
	&--sidebar-left {

		.main {

			@include mq(lg-min) {
				width: calc(70% - 70px);
			}
		}
	}

	&--sidebar-left .contents__inner {

		@include mq(lg-min) {
			flex-flow: row-reverse;
		}
	}
}
