/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
	margin: 2em 0 60px;

	@include mq(lg-min) {
		margin: 0;
	}

	&__sns {
		padding: 1em 0;
	}

	&__credit {

		@include nm-text-border;
		padding: 2em 0;
		font-size: 0.8em;
		line-height: 1.4;
		text-align: center;

		a {
			color: var(--color-accent);
		}
	}
}
