/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
	padding: 1em 0 3em;

	@include mq(lg-min) {
		padding-bottom: 4em;
	}

	&__brand {
		text-align: center;

		@include mq(lg-min) {
			padding-top: 3em;
		}
	}

	&__brand-logo {
		margin-bottom: 10px;

		@include mq(lg-min) {

			a {
				transition: opacity $base_transition_duration ease-in-out;

				&:hover {
					opacity: $base_hover_opacity;
				}
			}
		}

		img {
			width: auto;
			max-height: 60px;

			@include mq(lg-min) {
				max-height: 100px;
			}
		}
	}

	&__brand-title {
		margin: 0;
		font-size: 1.8em;

		@include mq(lg-min) {
			font-size: 3em;
		}

		a {
			display: inline-block;
			color: inherit;
			color: var(--color-accent);
			font-weight: bold;
			line-height: 1.4;
			text-shadow: -3px -3px 3px var(--color-nm-light), 3px 3px 3px var(--color-nm-dark);
			transition: opacity $base_transition_duration ease-in-out;

			@include mq(lg-min) {

				&:hover {
					text-decoration: none;
					opacity: $base_hover_opacity;
				}
			}
		}

		img {
			max-height: 60px;

			@include mq(lg-min) {
				max-height: 100px;
			}
		}
	}

	&__brand-description {
		margin: 1em 0 0;
		font-size: 0.8em;
		line-height: 1.4;
	}

	&__search {
		position: absolute;
		top: 0;
		right: 0;
		width: 30%;
		padding-right: $container_padding;

		@include mq(md-max) {
			display: none;
		}
	}

	&__sns {
		margin-top: 2em;
	}
}
