/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/*------------------------------------------
## Global menu
------------------------------------------*/

.gnav {

	@include mq(md-max) {
		display: none;
	}

	margin: 1em 0 0;
	padding: 0;

	.c-gnav__item > a {

		@include nm-text-border;
		color: inherit;
		font-weight: bold;
	}
}

.fixed-gnav {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
	transform: translateY(-100%);
	visibility: hidden;
	transition: transform $base_transition_duration ease-in-out, visibility $base_transition_duration ease-in-out;
	transition-timing-function: ease-out;

	@include mq(md-max) {
		display: none;
	}

	&[aria-hidden="false"] {
		top: 0;
		transform: translateY(0);
		visibility: visible;
		transition: transform $base_transition_duration ease-in-out;
		transition-timing-function: ease-out;
	}

	.c-gnav__item > a {
		color: #fff;
	}
}

/*------------------------------------------
## Fixed mobile bar
------------------------------------------*/

.fixed-nav {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 200;
	height: 60px;
	background: rgba(0, 0, 0, 0.8);

	@include mq(lg-min) {
		display: none;
	}

	&__list {
		display: flex;
		justify-content: space-around;
		height: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		padding: 0 10px;

		a,
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 45px;
			max-width: 100px;
			height: 45px;
			color: #fff;
			font-size: 20px;
			border-radius: 50%;
		}

		button[aria-expanded="true"],
		a:active,
		button:active {
			box-shadow: inset 1px 1px 2px #000, inset -1px -1px 2px #666;
		}
	}
}

/*------------------------------------------
## Drawer navigation
------------------------------------------*/

.drawer {
	position: fixed;
	top: 0;
	right: 100%;
	bottom: 60px;
	z-index: 100;
	width: 100%;
	padding-bottom: 0 0 30px;
	background: rgba(0, 0, 0, 0.8);
	transition: right $base_transition_duration ease-in-out;

	@include mq(lg-min) {
		display: none;
	}

	&[aria-hidden="false"] {
		right: 0;
	}

	&__close {
		position: absolute;
		top: 7px;
		right: calc(5vw - 9px);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 45px;
		margin: 0 0 0 auto;
		padding: 0;
		color: #fff;
		font-size: 20px;
		border-radius: 50%;

		&:active {
			box-shadow: inset 1px 1px 2px #000, inset -1px -1px 2px #666;
		}
	}

	&__inner {
		height: 100%;
		padding-top: 70px;
		overflow-y: scroll;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		> .menu-item-has-children {
			padding-right: 40px;
		}
	}

	&__item {
		position: relative;
		list-style: none;

		a {
			display: block;
			padding: 7px 0;
			color: #fff;
			text-decoration: none;
		}
	}

	&__submenu {
		padding-left: 1em;
		list-style: none;

		&[aria-hidden] {
			height: 0;
			overflow: hidden;
		}

		&[aria-hidden="false"] {
			height: auto;
			overflow: visible;
		}
	}

	&__toggle {
		position: absolute;
		top: 5.5px;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 26px;
		height: 26px;
		color: #fff;
		border-radius: 50%;
		box-shadow: 1px 1px 2px #000, -1px -1px 2px #666;
		transition: box-shadow $base_transition_duration ease-in-out;

		> svg {
			transition: transform $base_transition_duration ease-in-out;
		}

		&[aria-expanded="true"] {
			box-shadow: inset 1px 1px 2px #000, inset -1px -1px 2px #666;

			> i {
				transform: scale(1, -1);
			}
		}
	}

	.c-search-form {
		margin-top: 2em;

		&__input {
			top: 0;
			background-color: #fff !important;
		}
	}
}
